target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
# Ignore all IntelliJ IDEA files by default
.idea/
# Un-ignore vital project-level files
!.idea/modules.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml
!.idea/libraries/
!.idea/*.iml
# Keep ignoring workspace-specific and transient files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/caches/
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

allure-results/
